.character-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .character-list li {
    width: 250px; 
    margin: 10px; 
    background-color: #f8f9fa;
    border: 1px solid #ced4da; 
    border-radius: 5px;
    padding: 10px;
  }
  
  .character-list li img {
    width: 100%; 
    border-radius: 5px; 
  }
  
  .character-list li h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .character-list li p {
    margin-bottom: 0;
  }