.form-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 80vh;
}

form {
    width: 80%;
    max-width: 1000px;
    padding: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

input[type="text"],
select {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #4CAF50;
}

.character-submit {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}